a,
ul.left_nav > li > a:hover,
ul.left_nav > li > a:focus,
ul.left_nav > li.active > a,
.sub_menu li.active > a,
.sub_menu li:hover > a,
.sub_menu li > ul li.active a,
.sub_menu li > ul li:hover a,
.btn-link,
.app_tile_info .app_price,
.app_title,
.block-title,
#app-details-container h4, #app-details-container h3, .box-title,
.modal-content .modal-header,
.modal-content .modal-body h4,
.small_menu ul li a:hover, .small_menu ul li a:hover i,
.filter_links a.btn-link:hover,
.main-wrapper header > ul > li.ClearOS > a.ci-ClearOS:before,
.pagination > li > a, .pagination > li > span {
  color: #c2510f;
}

.sub_menu li.active,
.sub_menu li > ul li.active {
  border-left-color: #c2510f;
}

.theme-menu-2-category.btn.btn-default.active,
.btn-success,
.progress-bar,
.theme-app-selected,
.btn-primary, .pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
  background-color: #c2510f!important;
  border-color: #aa470d;
}

a:hover, a:focus, .btn-link:hover {
  color: #aa470d;
}

.installed_ribbon {
  background: #e9ecef;
  border: 1px solid #c2510f;
  color: #c2510f;
}

.block-title:before {
  border-bottom: 1px solid #c2510f;
}

#app-details-container h4:before, #app-details-container h3:before, .box-title:before,
.modal-content .modal-header:before,
.modal-content .modal-body h4:before {
  border-bottom: 1px solid #c2510f;
}

ul.left_nav > li > a i {
  background-image: url(../img/cube_sprite_pro.png);
}

.clearos-svg.clearfoundation path,
.clearos-svg.clearfoundation circle,
.clearos-svg.clearfoundation polygon,
.clearos-svg.clearfoundation rect {
  fill: #c2510f!important;
}
.page-title {
  background: none repeat scroll 0 0 #c2510f;
}
.main-wrapper header > ul > li.ClearOS {
  border-top-color: #686868;
  border-bottom: 2px solid #c2510f;
}
.main-wrapper header > ul > li.dashboard {
  border-top-color: #608921;
  border-bottom: 2px solid #c2510f;
}
.main-wrapper header > ul > li.marketplace {
  border-top-color: #c2510f;
  border-bottom: 2px solid #c2510f;
}
.main-wrapper header > ul > li.support {
  border-top-color: #3d85c6;
  border-bottom: 2px solid #c2510f;
}
.main-wrapper header > ul > li.my-account {
  border-top-color: #999999;
  border-bottom: 2px solid #c2510f;
}
.main-wrapper header > ul > li.placeholder {
  border-top-color: #999999;
  border-bottom: 2px solid #c2510f;
}
.main-wrapper header > ul > li.ClearOS.active > a:after, .main-wrapper header > ul > li.ClearOS.open > a:after {
  border-bottom-color: rgba(255, 255, 255, 0.1);
}
#magic-arrow.magic_arrow_0 {
  border-bottom-color: rgba(255, 255, 255, 0.1);
}
#magic-arrow.magic_arrow_1,
#magic-arrow.magic_arrow_2,
#magic-arrow.magic_arrow_3,
#magic-arrow.magic_arrow_4 {
  border-bottom-color: #c2510f;
}
.clearos-svg.clearfoundation path,
.clearos-svg.clearfoundation circle,
.clearos-svg.clearfoundation polygon,
.clearos-svg.clearfoundation rect {
  fill: #c2510f!important;
}
.login_box .login_right input[type="submit"] {
  color: #ffffff;
}
